   body {
     background-color: #ffefd5;
   }
   hr {
     border-style: none;
     border-top-style: dotted;
     border-color: green;
     border-width:5px;
     width: 25%;
   }
  h1  {
    text-shadow: 2px 2px orange;
    color:  #e89f71;
  }
  h3  {
     text-decoration: underline;
    color:  #e89f71;
  }
a {
  color: #11999E;
  font-family: 'Kulim Park', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #406882;
}
